html, body {
  font-family: ‘Trebuchet MS’, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  padding:10px;
}

h1 {
  font-size: 45px;
  text-align: center;
}
li {
display: inline;
}
p {
  max-width: 65%;
  min-width: 500px;
  padding: 10px;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
img {
  display: center;
  width: 200px;
  height: 400px;  
 
}

<img src="291E59FC-D1A8-4C65-8C6F-40F87C236E5D.jpeg" alt="Linnea Headshot">


